---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=-122.313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="r9FZmNoXglYYMTWNXrQTMg", oauth_nonce="2vuZIqsebreLlRYnxc5qFIH508SuDsbyUHyJmLuc",
        oauth_signature="mSVDRd8UctSsak4d4VbPZQsx6Zw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1395200673", oauth_token="tfjSGC3vC0dj-FrnGtkRUoPRnbQ3pG6_",
        oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Node:
      - web40, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"error": {"text": "One or more parameters are invalid in request",
        "id": "INVALID_PARAMETER", "field": "ll"}}'
  recorded_at: Wed, 19 Mar 2014 03:44:34 GMT
recorded_with: VCR 2.8.0
