---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=&term=taco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="r9FZmNoXglYYMTWNXrQTMg", oauth_nonce="S9gexuHc9yRV5Ka1vmuO9aCWaOkJwf9B4cAGKx3fuuM",
        oauth_signature="%2FiZ4u2bBaZB6WPFxCoHzT9OPfMc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394925802", oauth_token="tfjSGC3vC0dj-FrnGtkRUoPRnbQ3pG6_",
        oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Node:
      - web63-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"error": {"text": "One or more parameters are invalid in request",
        "id": "INVALID_PARAMETER", "field": "ll"}}'
  recorded_at: Sat, 15 Mar 2014 23:23:23 GMT
recorded_with: VCR 2.8.0
