---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=47.622,-122.313&term=taco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="r9FZmNoXglYYMTWNXrQTMg", oauth_nonce="BvPXwycW5Hy7z7aIqJWLlYJHq8iI4BADIg6apheTU",
        oauth_signature="%2BqK9SYQgcAb85NuDkVnsnSHefQA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394948181", oauth_token="tfjSGC3vC0dj-FrnGtkRUoPRnbQ3pG6_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web37, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.099023540000004573, "longitude_delta":
        0.070499879999999848}, "center": {"latitude": 47.616312700000002, "longitude":
        -122.3248081}}, "total": 281, "businesses": [{"is_claimed": true, "distance":
        639.32805197681603, "mobile_url": "http://m.yelp.com/biz/tacos-chukis-seattle",
        "rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 260, "name": "Tacos Chukis", "snippet_image_url": "http://s3-media3.ak.yelpcdn.com/photo/GXDinsm0OeuX2jJLukvUyQ/ms.jpg",
        "rating": 4.5, "url": "http://www.yelp.com/biz/tacos-chukis-seattle", "location":
        {"cross_streets": "John St \u0026 Olive Way", "city": "Seattle", "display_address":
        ["219 Broadway E", "(b/t John St \u0026 Olive Way)", "Capitol Hill", "Seattle,
        WA 98102"], "neighborhoods": ["Capitol Hill"], "postal_code": "98102", "country_code":
        "US", "address": ["219 Broadway E"], "state_code": "WA"}, "phone": "2063284447",
        "snippet_text": "Wow, I''ve finally found tacos that remind me of San Diego!\n\nEver
        since moving to Seattle, I''ve been somewhat saddened by their lack of authentic
        Mexican...", "image_url": "http://s3-media3.ak.yelpcdn.com/bphoto/aMcEM2eXL2esBRRCflSctQ/ms.jpg",
        "categories": [["Mexican", "mexican"]], "display_phone": "+1-206-328-4447",
        "rating_img_url_large": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "tacos-chukis-seattle", "is_closed": false, "rating_img_url_small":
        "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png"},
        {"is_claimed": false, "distance": 887.72659600607642, "mobile_url": "http://m.yelp.com/biz/rancho-bravo-tacos-seattle-2",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 528, "name": "Rancho Bravo Tacos", "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/RJ-AbjtrfctQcOgUidA6gQ/m[...]
