---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=47.622,-122.313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="r9FZmNoXglYYMTWNXrQTMg", oauth_nonce="BuNLwFyhEl9hQNxzXPfu2Dusm57SsYChrTRTStu1I",
        oauth_signature="mJRr9U9kTDvzZL9aObUMNye8Pfo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1395198828", oauth_token="tfjSGC3vC0dj-FrnGtkRUoPRnbQ3pG6_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web67-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.003632089999996424, "longitude_delta":
        0.0049534100000130366}, "center": {"latitude": 47.621774850000001, "longitude":
        -122.31246544999999}}, "total": 1959, "businesses": [{"is_claimed": true,
        "distance": 21.928490889648586, "mobile_url": "http://m.yelp.com/biz/the-grinning-yogi-seattle-2",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 13, "name": "The Grinning Yogi", "snippet_image_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/cc4afe21892e/default_avatars/user_medium_square.png",
        "rating": 5.0, "url": "http://www.yelp.com/biz/the-grinning-yogi-seattle-2",
        "location": {"cross_streets": "Thomas St \u0026 Harrison St", "city": "Seattle",
        "display_address": ["345 15th Ave E", "Ste 102", "(b/t Thomas St \u0026 Harrison
        St)", "Capitol Hill", "Seattle, WA 98112"], "neighborhoods": ["Capitol Hill"],
        "postal_code": "98112", "country_code": "US", "address": ["345 15th Ave E",
        "Ste 102"], "state_code": "WA"}, "phone": "2067557611", "snippet_text": "This
        is my new favorite place on 15th.  Great hours! Perfect temp! Sweet beats!
        Plus the BF broke his yoga cherry here! Gotta love that.\n\nI don''t usually
        go...", "image_url": "http://s3-media1.ak.yelpcdn.com/bphoto/_0RFvst6HEBfqL3LTbl3_Q/ms.jpg",
        "categories": [["Yoga", "yoga"]], "display_phone": "+1-206-755-7611", "rating_img_url_large":
        "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "the-grinning-yogi-seattle-2", "is_closed": false, "rating_img_url_small":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png"},
        {"is_claimed": true, "distance": 46.743472950474171, "mobile_url": "http://m.yelp.com/biz/adas-technical-books-and-cafe-seattle",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 32, "name": "Ada''s Technical Books and Cafe", "snippet_image_url":
        "http://s3-media1.ak.yelpcdn.com/photo/J[...]
