<p> Wait ... Are you having an Experienced Developer Emergency?
  <%= button_to 'Find The Closest Swift Developer!', '/developer', class: 'swift', remote: true %>
 <!--  <div class ='button swift'>Find The Closest Swift Developer!</div> -->
<div class='closest'>
</div>