<%= image_tag("tacocat.gif", alt: "Animation of dancing tacocat", :class => "tacocat") %>
<div class='error'></div>
  <%= button_to 'Find the closest taco!', '/tacos', class: 'location' %>
<div class='closest'>
</div>