
<div class='error'></div>
<div class='long'> </div>
<div class='lat'> </div>
<div class='location'>
  Find your location now!
</div>


<!--  request = GeoPoint.new(:term => 'tacos', :latitude => 47.623, :longitude => -122.3209) 
closest = response['businesses'].map {|business| [business['distance'], business['name'], business['location']['display_address'].join(" ")] }.sort.first
-->