/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1 {
  text-align: center;
  font-size: 2em;
  font-family: Verdana, Geneva, sans-serif;
}

p {
  text-align: center;
  font-size: .90em;
  font-weight: 100;
  font-family: Verdana, Geneva, sans-serif;
}

.tacocat {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  border: solid;
}

.container {
  text-align: center;
}

.location {
  font-family: Verdana, Geneva, sans-serif;
}

.closest {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}